
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Portfolio Generator Results</title>
    </head>

    <body>
        <h1 align="center">Portfolio Generator Results</h1>

        <h2 align="center">Your Unique Portfolio</h2>
    <table border="5" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Ticker</th>
      <th>Company Name</th>
      <th>Sector</th>
      <th>Market Cap</th>
      <th>Market Cap($)</th>
      <th>Beta</th>
      <th>PE</th>
      <th>Price</th>
      <th>52 Week Range</th>
      <th>1y Target</th>
      <th>Weight(%)</th>
      <th>Est Shares</th>
      <th>Potential Upside(%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>DVN</td>
      <td>Devon Energy</td>
      <td>Energy</td>
      <td>Large Cap</td>
      <td>14.688B</td>
      <td>3.35</td>
      <td>NaN</td>
      <td>21.70</td>
      <td>7.73 - 26.13</td>
      <td>30.70</td>
      <td>6.25</td>
      <td>29.0</td>
      <td>41.47</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ATVI</td>
      <td>Activision Blizzard</td>
      <td>Communication Services</td>
      <td>Large Cap</td>
      <td>71.378B</td>
      <td>0.64</td>
      <td>32.67</td>
      <td>92.13</td>
      <td>62.34 - 104.53</td>
      <td>113.29</td>
      <td>6.25</td>
      <td>7.0</td>
      <td>22.97</td>
    </tr>
    <tr>
      <th>2</th>
      <td>CYTK</td>
      <td>Cytokinetics Incorporated</td>
      <td>Health Care</td>
      <td>Small Cap</td>
      <td>1.836B</td>
      <td>1.35</td>
      <td>NaN</td>
      <td>26.71</td>
      <td>13.87 - 30.14</td>
      <td>31.36</td>
      <td>6.25</td>
      <td>23.0</td>
      <td>17.41</td>
    </tr>
    <tr>
      <th>3</th>
      <td>CTS</td>
      <td>CTS Corporation</td>
      <td>Information Technology</td>
      <td>Small Cap</td>
      <td>1.007B</td>
      <td>0.73</td>
      <td>29.49</td>
      <td>31.26</td>
      <td>18.17 - 37.26</td>
      <td>36.33</td>
      <td>6.25</td>
      <td>20.0</td>
      <td>16.22</td>
    </tr>
    <tr>
      <th>4</th>
      <td>FHN</td>
      <td>First Horizon National Corp</td>
      <td>Financials</td>
      <td>Mid Cap</td>
      <td>9.92B</td>
      <td>1.53</td>
      <td>8.74</td>
      <td>18.20</td>
      <td>6.93 - 18.42</td>
      <td>20.73</td>
      <td>6.25</td>
      <td>34.0</td>
      <td>13.90</td>
    </tr>
    <tr>
      <th>5</th>
      <td>FCPT</td>
      <td>Four Corners Property Trust Inc.</td>
      <td>Real Estate</td>
      <td>Small Cap</td>
      <td>2.278B</td>
      <td>0.89</td>
      <td>27.69</td>
      <td>29.90</td>
      <td>16.34 - 30.42</td>
      <td>32.80</td>
      <td>6.25</td>
      <td>21.0</td>
      <td>9.70</td>
    </tr>
    <tr>
      <th>6</th>
      <td>SBAC</td>
      <td>SBA Communications</td>
      <td>Real Estate</td>
      <td>Large Cap</td>
      <td>32.376B</td>
      <td>NaN</td>
      <td>239.96</td>
      <td>296.35</td>
      <td>232.88 - 328.37</td>
      <td>324.33</td>
      <td>6.25</td>
      <td>2.0</td>
      <td>9.44</td>
    </tr>
    <tr>
      <th>7</th>
      <td>INFO</td>
      <td>IHS Markit</td>
      <td>Industrials</td>
      <td>Large Cap</td>
      <td>44.866B</td>
      <td>0.96</td>
      <td>79.37</td>
      <td>105.88</td>
      <td>63.95 - 107.37</td>
      <td>112.38</td>
      <td>6.25</td>
      <td>6.0</td>
      <td>6.14</td>
    </tr>
    <tr>
      <th>8</th>
      <td>JBHT</td>
      <td>J. B. Hunt Transport Services</td>
      <td>Industrials</td>
      <td>Large Cap</td>
      <td>17.845B</td>
      <td>1.04</td>
      <td>32.91</td>
      <td>168.87</td>
      <td>95.30 - 178.40</td>
      <td>178.67</td>
      <td>6.25</td>
      <td>4.0</td>
      <td>5.80</td>
    </tr>
    <tr>
      <th>9</th>
      <td>CNXC</td>
      <td>Concentrix Corp</td>
      <td>Information Technology</td>
      <td>Mid Cap</td>
      <td>8.117B</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>159.61</td>
      <td>80.00 - 163.28</td>
      <td>167.50</td>
      <td>6.25</td>
      <td>4.0</td>
      <td>4.94</td>
    </tr>
    <tr>
      <th>10</th>
      <td>FCX</td>
      <td>Freeport-McMoRan Inc.</td>
      <td>Materials</td>
      <td>Large Cap</td>
      <td>56.607B</td>
      <td>2.12</td>
      <td>31.58</td>
      <td>38.65</td>
      <td>7.81 - 39.84</td>
      <td>39.29</td>
      <td>6.25</td>
      <td>16.0</td>
      <td>1.66</td>
    </tr>
    <tr>
      <th>11</th>
      <td>POST</td>
      <td>Post Holdings Inc</td>
      <td>Consumer Staples</td>
      <td>Mid Cap</td>
      <td>7.281B</td>
      <td>0.79</td>
      <td>NaN</td>
      <td>113.11</td>
      <td>81.38 - 113.61</td>
      <td>114.90</td>
      <td>6.25</td>
      <td>6.0</td>
      <td>1.58</td>
    </tr>
    <tr>
      <th>12</th>
      <td>IDXX</td>
      <td>Idexx Laboratories</td>
      <td>Health Care</td>
      <td>Large Cap</td>
      <td>47.833B</td>
      <td>0.86</td>
      <td>83.25</td>
      <td>558.60</td>
      <td>263.95 - 573.99</td>
      <td>565.83</td>
      <td>6.25</td>
      <td>1.0</td>
      <td>1.29</td>
    </tr>
    <tr>
      <th>13</th>
      <td>SSD</td>
      <td>Simpson Manufacturing Company</td>
      <td>Industrials</td>
      <td>Mid Cap</td>
      <td>4.908B</td>
      <td>1.24</td>
      <td>26.46</td>
      <td>113.00</td>
      <td>65.51 - 113.31</td>
      <td>108.50</td>
      <td>6.25</td>
      <td>6.0</td>
      <td>-3.98</td>
    </tr>
    <tr>
      <th>14</th>
      <td>PLCE</td>
      <td>The Children's Place Inc.</td>
      <td>Consumer Discretionary</td>
      <td>Small Cap</td>
      <td>1.101B</td>
      <td>2.27</td>
      <td>NaN</td>
      <td>76.96</td>
      <td>17.78 - 85.59</td>
      <td>71.60</td>
      <td>6.25</td>
      <td>8.0</td>
      <td>-6.96</td>
    </tr>
    <tr>
      <th>15</th>
      <td>NUE</td>
      <td>Nucor Corp.</td>
      <td>Materials</td>
      <td>Large Cap</td>
      <td>24.068B</td>
      <td>1.43</td>
      <td>14.92</td>
      <td>80.43</td>
      <td>35.75 - 82.76</td>
      <td>73.73</td>
      <td>6.25</td>
      <td>8.0</td>
      <td>-8.33</td>
    </tr>
  </tbody>
</table>
    <br>
    <form align="center">
        <input type="button" value="Return to Search Page" onclick="document.location='./input'">
    </form>
    