
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Portfolio Generator Results</title>
    </head>

    <body>
        <h1 align="center">Portfolio Generator Results</h1>

        <h2 align="center">Your Unique Portfolio</h2>
    <table border="5" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Ticker</th>
      <th>Company Name</th>
      <th>Sector</th>
      <th>Market Cap</th>
      <th>Market Cap($)</th>
      <th>Beta</th>
      <th>PE</th>
      <th>Price</th>
      <th>52 Week Range</th>
      <th>1y Target</th>
      <th>Weight(%)</th>
      <th>Est Shares</th>
      <th>Potential Upside(%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>HCC</td>
      <td>Warrior Met Coal Inc.</td>
      <td>Materials</td>
      <td>Small Cap</td>
      <td>938.671M</td>
      <td>1.21</td>
      <td>NaN</td>
      <td>17.94</td>
      <td>10.02 - 25.90</td>
      <td>23.00</td>
      <td>6.25</td>
      <td>35.0</td>
      <td>28.21</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ABCB</td>
      <td>Ameris Bancorp</td>
      <td>Financials</td>
      <td>Small Cap</td>
      <td>3.479B</td>
      <td>1.45</td>
      <td>9.73</td>
      <td>51.42</td>
      <td>17.12 - 57.81</td>
      <td>58.50</td>
      <td>6.25</td>
      <td>12.0</td>
      <td>13.77</td>
    </tr>
    <tr>
      <th>2</th>
      <td>CUZ</td>
      <td>Cousins Properties Inc</td>
      <td>Real Estate</td>
      <td>Mid Cap</td>
      <td>5.592B</td>
      <td>1.10</td>
      <td>22.90</td>
      <td>36.60</td>
      <td>22.99 - 38.15</td>
      <td>40.00</td>
      <td>6.25</td>
      <td>17.0</td>
      <td>9.29</td>
    </tr>
    <tr>
      <th>3</th>
      <td>LOW</td>
      <td>Lowe's Cos.</td>
      <td>Consumer Discretionary</td>
      <td>Large Cap</td>
      <td>144.973B</td>
      <td>1.36</td>
      <td>25.70</td>
      <td>199.19</td>
      <td>102.31 - 208.98</td>
      <td>204.96</td>
      <td>6.25</td>
      <td>3.0</td>
      <td>2.90</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AKR</td>
      <td>Acadia Realty Trust</td>
      <td>Real Estate</td>
      <td>Small Cap</td>
      <td>1.766B</td>
      <td>1.49</td>
      <td>NaN</td>
      <td>20.81</td>
      <td>9.10 - 21.56</td>
      <td>21.17</td>
      <td>6.25</td>
      <td>30.0</td>
      <td>1.73</td>
    </tr>
    <tr>
      <th>5</th>
      <td>PBCT</td>
      <td>People's United Financial</td>
      <td>Financials</td>
      <td>Large Cap</td>
      <td>7.708B</td>
      <td>1.23</td>
      <td>35.16</td>
      <td>18.18</td>
      <td>9.74 - 19.40</td>
      <td>18.40</td>
      <td>6.25</td>
      <td>34.0</td>
      <td>1.21</td>
    </tr>
    <tr>
      <th>6</th>
      <td>XRAY</td>
      <td>Dentsply Sirona</td>
      <td>Health Care</td>
      <td>Large Cap</td>
      <td>14.457B</td>
      <td>0.93</td>
      <td>NaN</td>
      <td>66.31</td>
      <td>36.12 - 66.92</td>
      <td>66.93</td>
      <td>6.25</td>
      <td>9.0</td>
      <td>0.94</td>
    </tr>
    <tr>
      <th>7</th>
      <td>TMP</td>
      <td>Tompkins Financial Corporation</td>
      <td>Financials</td>
      <td>Small Cap</td>
      <td>1.165B</td>
      <td>0.74</td>
      <td>15.19</td>
      <td>78.97</td>
      <td>53.32 - 92.80</td>
      <td>79.50</td>
      <td>6.25</td>
      <td>8.0</td>
      <td>0.67</td>
    </tr>
    <tr>
      <th>8</th>
      <td>LSI</td>
      <td>Life Storage Inc</td>
      <td>Real Estate</td>
      <td>Mid Cap</td>
      <td>7.19B</td>
      <td>0.29</td>
      <td>44.20</td>
      <td>94.15</td>
      <td>55.00 - 95.86</td>
      <td>94.50</td>
      <td>6.25</td>
      <td>7.0</td>
      <td>0.37</td>
    </tr>
    <tr>
      <th>9</th>
      <td>EVTC</td>
      <td>EVERTEC Inc.</td>
      <td>Information Technology</td>
      <td>Small Cap</td>
      <td>2.977B</td>
      <td>1.01</td>
      <td>28.17</td>
      <td>40.29</td>
      <td>24.04 - 42.35</td>
      <td>40.29</td>
      <td>6.25</td>
      <td>16.0</td>
      <td>-0.00</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ILPT</td>
      <td>Industrial Logistics Properties Trust</td>
      <td>Real Estate</td>
      <td>Small Cap</td>
      <td>1.635B</td>
      <td>0.96</td>
      <td>19.32</td>
      <td>24.34</td>
      <td>15.09 - 26.20</td>
      <td>24.25</td>
      <td>6.25</td>
      <td>26.0</td>
      <td>-0.37</td>
    </tr>
    <tr>
      <th>11</th>
      <td>CBRL</td>
      <td>Cracker Barrel</td>
      <td>Consumer Discretionary</td>
      <td>Mid Cap</td>
      <td>3.975B</td>
      <td>1.50</td>
      <td>83.41</td>
      <td>168.07</td>
      <td>77.05 - 178.82</td>
      <td>167.38</td>
      <td>6.25</td>
      <td>4.0</td>
      <td>-0.41</td>
    </tr>
    <tr>
      <th>12</th>
      <td>ESS</td>
      <td>Essex Property Trust Inc.</td>
      <td>Real Estate</td>
      <td>Large Cap</td>
      <td>19.274B</td>
      <td>0.74</td>
      <td>34.17</td>
      <td>296.88</td>
      <td>186.30 - 300.73</td>
      <td>288.16</td>
      <td>6.25</td>
      <td>2.0</td>
      <td>-2.94</td>
    </tr>
    <tr>
      <th>13</th>
      <td>CRS</td>
      <td>Carpenter Technology</td>
      <td>Materials</td>
      <td>Small Cap</td>
      <td>1.993B</td>
      <td>2.31</td>
      <td>NaN</td>
      <td>41.84</td>
      <td>15.90 - 48.06</td>
      <td>38.00</td>
      <td>6.25</td>
      <td>15.0</td>
      <td>-9.18</td>
    </tr>
    <tr>
      <th>14</th>
      <td>BCC</td>
      <td>Boise Cascade Company</td>
      <td>Industrials</td>
      <td>Small Cap</td>
      <td>2.657B</td>
      <td>2.05</td>
      <td>15.39</td>
      <td>68.32</td>
      <td>26.61 - 68.99</td>
      <td>57.50</td>
      <td>6.25</td>
      <td>9.0</td>
      <td>-15.84</td>
    </tr>
    <tr>
      <th>15</th>
      <td>IRM</td>
      <td>Iron Mountain Incorporated</td>
      <td>Real Estate</td>
      <td>Large Cap</td>
      <td>11.549B</td>
      <td>0.80</td>
      <td>33.71</td>
      <td>40.08</td>
      <td>21.54 - 41.32</td>
      <td>32.86</td>
      <td>6.25</td>
      <td>16.0</td>
      <td>-18.01</td>
    </tr>
  </tbody>
</table>
    <img src='templates/piechart.png'>
    
    <br>
    <form align="center">
        <input type="button" value="Return to Search Page" onclick="document.location='./input'">
    </form>
    